[include mainsail.cfg]
[include variables.cfg]

#-----------------------#
#  Hardware Imports     #
#-----------------------#
[include hardware/0_mcu.cfg]
[include hardware/1_features.cfg]
[include hardware/2_driver.cfg]
[include hardware/3_stepper.cfg]
[include hardware/4_bed.cfg]
[include hardware/5_peripherals.cfg]
[include hardware/6_LED.cfg]

#-------------------------#
#   Macro Imports         #
#-------------------------#
## Base
[include macros/print_start.cfg]
[include macros/print_end.cfg]
[include macros/park.cfg]
[include macros/filament_swap.cfg]
# [include macros/flap_main.cfg]
# [include macros/flap_temp_control.cfg]
[include macros/KOMB.cfg]

## Hardware
[include macros/hardware_functions/caselight.cfg]
[include macros/hardware_functions/filter.cfg]
[include macros/hardware_functions/status_leds.cfg]

## Purge
[include macros/Line_Purge.cfg]

## Helper
[include macros/helper/compability.cfg]
[include macros/helper/config_backup.cfg]
[include macros/helper/heater.cfg]
[include macros/helper/spoolman.cfg]
[include macros/helper/temp_check.cfg]

## Calibrate
[include macros/calibrate/autospeed.cfg]
[include macros/calibrate/shaketune.cfg]
[include macros/calibrate/test_speed.cfg]
[include macros/calibrate/pa_test.cfg]

#-------------------------#
#   Einstellungen         #
#-------------------------#

[safe_z_home]
home_xy_position: 175, 175
speed: 500.0
z_hop: 5
z_hop_speed: 15.0
home_y_before_x: False

[heater_bed]
#control = pid
#pid_kp = 66.239
#pid_ki = 3.223
#pid_kd = 340.301

[input_shaper]
shaper_type_x = smooth_zv
smoother_freq_x = 65.8

shaper_type_y = smooth_zv
smoother_freq_y = 43.8

enabled_extruders: extruder

[extruder]
#### PA-Settings ####
pressure_advance: 0.0475
pressure_advance_smooth_time: 0.02
# pressure_advance_model: tanh
# linearization_velocity: 1

#### PID / MPC Settings ####
#control = mpc
heater_power: 103
cooling_fan: fan
# filament_density: 1.25    # PLA
filament_density: 1.27   # ABS
filament_heat_capacity: 2.2

#### Filament Settings ####
### ASA ### 
# linear_advance: 0.019
# nonlinear_offset: 0.20
# pressure_advance_time_offset: 0.0005

### Magic Silk PLA ###
# linear_advance: 0.0125
# nonlinear_offset: 0.085
# pressure_advance_time_offset: 0.0011

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = mpc
#*# block_heat_capacity = 13.5378
#*# sensor_responsiveness = 0.102964
#*# ambient_transfer = 0.128196
#*# fan_ambient_transfer = 0.128196, 0.128226, 0.136438, 0.147369, 0.152214, 0.143766, 0.161723, 0.148869, 0.157316, 0.161353, 0.158709, 0.165212, 0.154421, 0.168858, 0.157856, 0.169925, 0.159028, 0.171038, 0.167199, 0.16573
#*#
#*# [cartographer touch_model default]
#*# threshold = 575
#*# speed = 2.0
#*# z_offset = -0.14
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.5166586429791313,2.0015540434713612,0.8590909682983356,0.4319661369419142,0.3470969316182024,0.26033839819837673,-0.11377269693923184,-0.1340305920828019,0.1940171745146525,0.14568895069395582
#*# domain = 3.2872092498451715e-07,3.3745129438420756e-07
#*# z_offset = 0
#*# reference_temperature = 21.76
#*#
#*# [cartographer]
#*# z_backlash = 0.00536
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.048346, 0.005356, -0.019320, -0.012153, -0.022228
#*# compensation_start_x = 20.0
#*# compensation_end_x = 330.0
#*# zy_compensations = -0.009538, -0.009171, -0.040623, 0.024173, 0.035159
#*# compensation_start_y = 29.0
#*# compensation_end_y = 300.0
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 110.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 60.991
#*# pid_ki = 3.848
#*# pid_kd = 241.676
