#-----------------------#
#  Hardware Imports     #
#-----------------------#
[include hardware/0_mcu.cfg]
[include hardware/1_features.cfg]
[include hardware/2_driver.cfg]
[include hardware/3_stepper.cfg]
[include hardware/4_bed.cfg]
[include hardware/5_peripherals.cfg]
[include hardware/6_LED.cfg]

#-------------------------#
#   Macro Imports         #
#-------------------------#
## Base
[include variables.cfg]
[include macros/filament_swap.cfg]
[include macros/homing.cfg]
[include macros/park.cfg]
[include macros/print_cancle.cfg]
[include macros/print_end.cfg]
[include macros/print_pause.cfg]
[include macros/print_start.cfg]

## Hardware
[include macros/hardware_functions/caselight.cfg]
[include macros/hardware_functions/filter.cfg]
[include macros/hardware_functions/status_leds.cfg]

## Purge
# [include macros/purge/Blob_Purge.cfg]
[include macros/purge/Infinity_Purge.cfg]
# [include macros/purge/Line_Purge.cfg]
# [include macros/purge/Voron_Purge.cfg]

## Helper
[include macros/helper/compability.cfg]
[include macros/helper/config_backup.cfg]
[include macros/helper/heater.cfg]
[include macros/helper/spoolman.cfg]
[include macros/helper/temp_check.cfg]

## Calibrate
[include macros/calibrate/shaketune.cfg]
[include macros/calibrate/test_speed.cfg]

#-------------------------#
#   Einstellungen         #
#-------------------------#

[extruder]
control = pid

## Stealthburner
# pid_kp = 18.323
# pid_ki = 1.111
# pid_kd = 75.580

## A4T
pid_kp = 42.320
pid_ki = 11.285
pid_kd = 39.674

[heater_bed]
control = pid
pid_kp = 66.239
pid_ki = 3.223
pid_kd = 340.301

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 57.2
damping_ratio_x = 0.052

shaper_type_y = mzv
shaper_freq_y = 41.6
damping_ratio_y = 0.146

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.765
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.085625, 0.134375, 0.142500, 0.109375, 0.083750, 0.045000, 0.060625, 0.075000, 0.101250
#*# 	0.101250, 0.111250, 0.118750, 0.085000, 0.063125, 0.032500, 0.041250, 0.054375, 0.071250
#*# 	0.066875, 0.108125, 0.096250, 0.067500, 0.013750, -0.027500, -0.030625, -0.007500, -0.005000
#*# 	0.040000, 0.062500, 0.096250, 0.066875, -0.001250, -0.023750, -0.033750, -0.043125, -0.058125
#*# 	0.044375, 0.051875, 0.075625, 0.081875, 0.000000, -0.047500, -0.051250, -0.073750, -0.101250
#*# 	0.056250, 0.075000, 0.085000, 0.071250, 0.016250, -0.020000, -0.082500, -0.075000, -0.125625
#*# 	0.067500, 0.088125, 0.108750, 0.086875, 0.012500, -0.038125, -0.073750, -0.095625, -0.138750
#*# 	0.019375, 0.077500, 0.095000, 0.083750, 0.015625, -0.058125, -0.085000, -0.122500, -0.158125
#*# 	0.066875, 0.095000, 0.122500, 0.105625, 0.040000, -0.035000, -0.088750, -0.154375, -0.205000
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 325.0
#*# min_y = 25.0
#*# max_y = 325.0
