#---------------------------------#
#       Kamp Settings             #
#---------------------------------#
[gcode_macro _KAMP_Settings]
variable_verbose_enable: True               # Set to True to enable KAMP information output when running. This is useful for debugging.

# The following variables are for adjusting adaptive purge settings for KAMP.
variable_purge_height: 0.9                  # Z position of nozzle during purge, default is 0.8.
variable_tip_distance: 20                    # Distance between tip of filament and nozzle before purge. Should be similar to PRINT_END final retract amount.
variable_purge_margin: 15                   # Distance the purge will be in front of the print area, default is 10.
variable_purge_amount: 30                   # Amount of filament to be purged prior to printing.
variable_flow_rate: 12                      # Flow rate of purge in mm3/s. Default is 12.

# The following variables are for adjusting the Smart Park feature for KAMP, which will park the printhead near the print area at a specified height.
variable_smart_park_height: 10              # Z position for Smart Park, default is 10.
gcode:

#---------------------------------#
#       Macro Settings            #
#---------------------------------#
[gcode_macro _SELF_VARIABLES]

# LEDs
variable_status_leds_enabled: True
variable_status_leds_effects_enabled: False
variable_status_leds_logo_led_name: "status_leds"
variable_status_leds_logo_idx: '1'
variable_status_leds_nozzle_led_name: "status_leds"
variable_status_leds_nozzle_idx: '2,3'

# Caselight
variable_light_enabled: True
variable_light_intensity_start_print: 100
variable_light_intensity_printing: 30
variable_light_intensity_end_print: 0
variable_status_leds_caselight_enabled: False

variable_travel_speed: 500
variable_z_drop_speed: 15
variable_park_position_xy: 175, 10
variable_park_lift_z: 150

variable_homing_travel_speed: 500
variable_homing_travel_accel: 10000
variable_homing_zhop: 5
variable_z_drop_speed: 15
variable_homing_backoff_distance_xy: -5, -5

variable_tap_max_probing_temp: 150
variable_tap_deactivation_zhop: 2

variable_print_default_extruder_temp: 215

variable_fix_heaters_temperature_settle: True   # for TZ Hotends

gcode:

#---------------------------------#
#       Don't edit here           #
#---------------------------------#
[save_variables]
filename: ~/printer_data/config/save_variables.cfg
