#-------------------------#
#   Autotune              #
#-------------------------#

[autotune_tmc stepper_x]
motor: moons-ms17hd6p420I-04
# sg4_thrs: 148

[autotune_tmc stepper_y]
motor: moons-ms17hd6p420I-04
# sg4_thrs: 148

[autotune_tmc stepper_z]
motor: moons-le172s-t0804-300-cn-01-200
tuning_goal: performance

[autotune_tmc stepper_z1]
motor: moons-le172s-t0804-300-cn-01-200
tuning_goal: performance

[autotune_tmc stepper_z2]
motor: moons-le172s-t0804-300-cn-01-200
tuning_goal: performance

# [autotune_tmc extruder]
# motor: moons-cse14hra1l410a

#-------------------------#
#   X - Driver            #
#-------------------------#

[tmc2209 stepper_x]
uart_pin: X_TMCUART
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

# diag_pin: ^X_DIAG
# driver_SGTHRS: 255
# home_current: 0.49
# current_change_dwell_time: 0.2

#-------------------------#
#   Y - Driver            #
#-------------------------#

[tmc2209 stepper_y]
uart_pin: Y_TMCUART
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

# diag_pin: ^Y_DIAG
# driver_SGTHRS: 255
# home_current: 0.49
# current_change_dwell_time: 0.2


#-------------------------#
#   Z - Driver            #
#-------------------------#

[tmc2209 stepper_z]
uart_pin: Z_TMCUART
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#-------------------------#
#   Z1 - Driver           #
#-------------------------#

[tmc2209 stepper_z1]
uart_pin: Z1_TMCUART
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#-------------------------#
#   Z2 - Driver           #
#-------------------------#

[tmc2209 stepper_z2]
uart_pin: Z2_TMCUART
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#-------------------------#
#   E - Driver            #
#-------------------------#

[tmc2209 extruder]
uart_pin: toolhead:E_TMCUART
interpolate: True
run_current: 0.45
sense_resistor: 0.110
stealthchop_threshold: 0