#-------------------------#
#   X - Stepper           #
#-------------------------#

[stepper_x]
step_pin: X_STEP
dir_pin: X_DIR
enable_pin: !X_ENABLE
endstop_pin: ^toolhead:X_STOP
# endstop_pin: tmc2209_stepper_x:virtual_endstop

rotation_distance: 40
microsteps: 64 #32
full_steps_per_rotation: 200

homing_speed: 60
homing_retract_dist: 5
min_home_dist: 10

position_min: 0
position_max: 347 # 348
position_endstop: 347 # 348

#-------------------------#
#   Y - Stepper           #
#-------------------------#

[stepper_y]
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: !Y_ENABLE
endstop_pin: Y_STOP
# endstop_pin: tmc2209_stepper_y:virtual_endstop

rotation_distance: 40
microsteps: 64 #32
full_steps_per_rotation: 200

homing_speed: 60
homing_retract_dist: 5
min_home_dist: 10

position_min: 0
position_max: 357 # 359
position_endstop: 357 # 359

#-------------------------#
#   Z - Stepper           #
#-------------------------#

[stepper_z]
step_pin: Z_STEP
dir_pin: Z_DIR
enable_pin: !Z_ENABLE
endstop_pin: probe:z_virtual_endstop

rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200

homing_speed: 15
second_homing_speed: 8
homing_retract_dist: 0 # 3.0

position_max: 250
position_min: -5

#-------------------------#
#   Z1 - Stepper          #
#-------------------------#

[stepper_z1]
step_pin: Z1_STEP
dir_pin: Z1_DIR
enable_pin: !Z1_ENABLE

rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200

#-------------------------#
#   Z2 - Stepper          #
#-------------------------#

[stepper_z2]
step_pin: Z2_STEP
dir_pin: Z2_DIR
enable_pin: !Z2_ENABLE

rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200
