#####################################################################
#                   E X T R U D E R   C O N F I G                  #
#####################################################################

[extruder]

#===================================================================#
#   🧱 ABSCHNITT 1: Physikalische und Basis-Hardware (Anschlüsse)   #
#===================================================================#

# --- E-Stepper Pin-Definitionen ---
step_pin: toolhead:E_STEP
dir_pin: !toolhead:E_DIR
enable_pin: !toolhead:E_ENABLE

# --- Heizung und Sensor Pin-Definitionen ---
heater_pin: toolhead:E_HEATER
sensor_pin: toolhead:E_TEMPERATURE

# --- Temperatursensor-Typ ---
sensor_type: ATC Semitec 104NT-4-R025H42G

## Für PT100/PT1000 MAX31865
# sensor_type: MAX31865
# sensor_pin: toolhead:MCU_31865_CS
# spi_software_sclk_pin: toolhead:MCU_31865_CLK
# spi_software_mosi_pin: toolhead:MCU_31865_MOSI
# spi_software_miso_pin: toolhead:MCU_31865_MISO
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

#===================================================================#
#   ⚙️ ABSCHNITT 2: Mechanik und Grundparameter (Grenzwerte)        #
#===================================================================#

# --- Getriebe- und Schritt-Einstellungen ---
rotation_distance: 22.883
microsteps: 32
full_steps_per_rotation: 200
gear_ratio: 50:10

# --- Filament und Düse ---
nozzle_diameter: 0.400
filament_diameter: 1.75

# --- Temperatur- und Durchsatz-Grenzwerte ---
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 172
max_extrude_cross_section: 5
max_extrude_only_distance: 800

#===================================================================#
#   🌡️ ABSCHNITT 3: Erweiterte Temperatursteuerung (PID / MPC)     #
#===================================================================#

# --- PID (Klipper Standard) ---
# pid_Kp = 22.2
# pid_Ki = 1.08
# pid_Kd = 114

# --- MPC (Kalico) ---
heater_power: 103
cooling_fan: fan
filament_density: 1.27
filament_heat_capacity: 2.2

#=======================================================================#
#   🌊 ABSCHNITT 4: Flusskontrolle (Pressure Advance / Linear Advance)  #
#=======================================================================#
pressure_advance_smooth_time: 0.02

# --- SET A: Standard Linear Pressure Advance ---
# pressure_advance: 0.0475

## --- SET B: Nonlinear Pressure Advance ---
pressure_advance_model: tanh
linearization_velocity: 1
nonlinear_offset: 0.17 # 0.01 Param 1
linear_advance: 0.001 # 0.001 Param 0
pressure_advance_time_offset: 0.000005 # 0.0001 Param 2
