[gcode_macro CHANGE_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=CHANGE_FILAMENT_state
    PAUSE
    UNLOAD
    RESTORE_GCODE_STATE NAME=CHANGE_FILAMENT_state

[gcode_macro UNLOAD]
gcode:
	{% set TEMP = params.TEMP|default(printer["gcode_macro _SELF_VARIABLES"].print_default_extruder_temp)|float %}

	SAVE_GCODE_STATE NAME=UNLOAD_state
	_LOW_TEMP_CHECK T={TEMP}
	
	M83
	G92 E0

    # Ramming
    {% set ramming_volume = 25 %}
	{% set ratio = ramming_volume / 23.0 %}
	G1 E{0.5784 * ratio} F299
	G1 E{0.5834 * ratio} F302
	G1 E{0.5918 * ratio} F306
	G1 E{0.6169 * ratio} F319
	G1 E{0.3393 * ratio} F350
	G1 E{0.3363 * ratio} F350
	G1 E{0.7577 * ratio} F392
	G1 E{0.8382 * ratio} F434
	G1 E{0.7776 * ratio} F469
	G1 E{0.1293 * ratio} F469
	G1 E{0.9673 * ratio} F501
	G1 E{1.0176 * ratio} F527
	G1 E{0.5956 * ratio} F544
	G1 E{0.4555 * ratio} F544
	G1 E{1.0662 * ratio} F552
	
    # Nozzle Separation
    {% set cooling_tube_position = 30 %}
	{% set cooling_tube_length = 15 %}
    {% set remaining_length = 6 %}
	{% set unloading_speed = 20 %}

    {% set total_retraction = cooling_tube_position - remaining_length + cooling_tube_length - 15 %}
    
	G0 E-15 F3000
	G0 E-{(0.7 * total_retraction)|round(2)} F{1.0 * unloading_speed * 60}
	G0 E-{(0.2 * total_retraction)|round(2)} F{0.5 * unloading_speed * 60}
	G0 E-{(0.1 * total_retraction)|round(2)} F{0.3 * unloading_speed * 60}
	
    # Cooling
    {% set initial_cooling_speed = 3 %}
	{% set final_cooling_speed = 50 %}
	{% set cooling_moves = 4 %}
    
	{% set speed_inc = (final_cooling_speed - initial_cooling_speed) / (2 * cooling_moves - 1) %}
	{% for move in range(cooling_moves) %}
    	{% set speed = initial_cooling_speed + speed_inc * move * 2 %}
    	G0 E{cooling_tube_length} F{speed * 60}
    	G0 E-{cooling_tube_length} F{(speed + speed_inc) * 60}
	{% endfor %}

    # Remove Hairs
    {% set skinnydip_distance = 4 %}
    {% set dip_insertion_speed = 30 %}
    {% set dip_extraction_speed = 70 %}
    {% set melt_zone_pause = 1000 %}
    {% set cooling_zone_pause = 2000 %}
    
    G1 E{skinnydip_distance} F{dip_insertion_speed * 60}
    G4 P{melt_zone_pause}
    G1 E-{skinnydip_distance} F{dip_extraction_speed * 60}
    G4 P{cooling_zone_pause}

	# Ejecting
	G92 E0
	G0 E-80 F1500
	M400
	
	CLEAR_ACTIVE_SPOOL
	RESTORE_GCODE_STATE NAME=UNLOAD_state

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _SELF_VARIABLES"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(80)|float %}
    
    SAVE_GCODE_STATE NAME=LOAD_FILAMENT_state
    _LOW_TEMP_CHECK T={TEMP}

    M83
    G92 E0
    G1 E{DISTANCE|float} F200

    M400
    G92 E0

    PURGE

    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_state

[gcode_macro PURGE]
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _SELF_VARIABLES"].print_default_extruder_temp)|float %}
    {% set tip_distance = printer["gcode_macro _KAMP_Settings"].tip_distance | float %}
    {% set DISTANCE = params.DISTANCE|default(20)|float %}
    
    SAVE_GCODE_STATE NAME=PURGE_state
    _LOW_TEMP_CHECK T={TEMP}

    M83
    G92 E0
    G1 E{tip_distance} F2100
    G1 E{DISTANCE|float} F150
    G1 E-{tip_distance} F2100

    M400
    G92 E0

    RESTORE_GCODE_STATE NAME=PURGE_state

[gcode_macro COLD_PULL]
description: Guide you through the process of cleaning your extruder with a cold pull
gcode:
    {% set material = params.MATERIAL|default("pla")|string|upper %}
    {% set materials = {
        'NYLON': {'hot_temp': 260, 'cold_temp': 50, 'pull_temp': 120, 'min_extrude_temp': 190},
        'PLA':   {'hot_temp': 250, 'cold_temp': 45, 'pull_temp': 100, 'min_extrude_temp': 160},
        'ABS':   {'hot_temp': 255, 'cold_temp': 50, 'pull_temp': 120, 'min_extrude_temp': 190},
        'PETG':  {'hot_temp': 250, 'cold_temp': 45, 'pull_temp': 100, 'min_extrude_temp': 180}
    } %}
    {% if material not in materials %}
        {action_raise_error("Unknown material. Valid types are: Nylon, ABS, PLA, PETG")}
    {% endif %}

    # Allow individual temperature overrides. Coded like this so Mainsail can parse options
    {% set hot_temp = params.HOT_TEMP|default('')|int %}
    {% set cold_temp = params.COLD_TEMP|default('')|int %}
    {% set pull_temp = params.PULL_TEMP|default('')|int %}
    {% set min_extrude_temp = params.MIN_EXTRUDE_TEMP|default('')|int %}
    {% set hot_temp = (hot_temp if hot_temp > 0 else materials.get(material).hot_temp)|int %}
    {% set cold_temp = (cold_temp if cold_temp > 0 else materials.get(material).cold_temp)|int %}
    {% set pull_temp = (pull_temp if pull_temp > 0 else materials.get(material).pull_temp)|int %}
    {% set min_extrude_temp = (min_extrude_temp if min_extrude_temp > 0 else materials.get(material).min_extrude_temp)|int %}

    {% set pull_speed = params.PULL_SPEED|default(10)|int %}
    {% set clean_length = params.CLEAN_LENGTH|default(25)|int %}
    {% set extrude_speed = params.EXTRUDE_SPEED|default(1.5)|float %}

    {% set ns = namespace(stuff_points=[], cool_points=[]) %}

    {% for temp in range(hot_temp + 1, cold_temp - 1, -1) %}
        {% if temp % 10 == 0 %}
            {% if temp > min_extrude_temp %}
                {% set ns.stuff_points = ns.stuff_points + [temp] %}
            {% elif temp < min_extrude_temp %}
                {% set ns.cool_points = ns.cool_points + [temp] %}
            {% endif %}
        {% endif %}
    {% endfor %}

    RESPOND PREFIX=ColdPull MSG="based on {material} profile (use MATERIAL= to adjust):"
    RESPOND PREFIX=ColdPull MSG="pull_temp={pull_temp}\u00B0C, hot_temp={hot_temp}\u00B0C, min_extruder={min_extrude_temp}\u00B0C, cold_temp={cold_temp}\u00B0C"

    RESPOND PREFIX=ColdPull MSG="Heating extruder to {hot_temp}\u00B0C..."
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={hot_temp}
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={hot_temp - 2} MAXIMUM={hot_temp + 2}

    # Ensure the nozzle id completely full
    RESPOND PREFIX=ColdPull MSG="Cleaning nozzle tip with {clean_length}mm of filament"
    FORCE_MOVE STEPPER=extruder DISTANCE={clean_length} VELOCITY={extrude_speed}

    # Begin the cooling ramp
    RESPOND PREFIX=ColdPull MSG="Allowing extruder to cool..."
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={cold_temp}
    M106 S255			# 100% part fan to cool faster

    # While filament can still extrude keep the nozzle completely full
    {% for temp in ns.stuff_points %}
        TEMPERATURE_WAIT SENSOR="extruder" MAXIMUM={temp}
        RESPOND PREFIX=ColdPull MSG="> Stuffing nozzle at {temp}\u00B0C"
        # G1 E1 F{ extrude_speed * 60 }
        FORCE_MOVE STEPPER=extruder DISTANCE=2 VELOCITY={extrude_speed}
    {% endfor %}

    # Give some feedback on cooling process
    RESPOND PREFIX=ColdPull MSG="Waiting for extruder to completely cool to {cold_temp}\u00B0C..."
    {% for temp in ns.cool_points %}
        TEMPERATURE_WAIT SENSOR="extruder" MAXIMUM={temp}
        RESPOND PREFIX=ColdPull MSG="> Nozzle at {temp}\u00B0C"
    {% endfor %}
    TEMPERATURE_WAIT SENSOR="extruder" MAXIMUM={cold_temp}

    # Re-warm
    M107			# Part fan off
    RESPOND PREFIX=ColdPull MSG="Re-warming extruder to {pull_temp}\u00B0C"
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={pull_temp}

    # The manual cold-pull
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={pull_temp - 10}
    RESPOND PREFIX=ColdPull MSG="Get ready to pull..."
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={pull_temp}
    RESPOND PREFIX=ColdPull MSG=">>>>> PULL NOW <<<<<"

    # Retract 150 mm at moderate speed (user should assist pull too, especially in bypass))
    FORCE_MOVE STEPPER=extruder DISTANCE=-150 VELOCITY={pull_speed}

    RESPOND PREFIX=ColdPull MSG="Cold pull is successful if you can see the shape of the nozzle at the filament end"
    RESPOND PREFIX=ColdPull MSG="If not, try again, perhaps with tweaked temperatures"

    # Heater completely off
    SET_HEATER_TEMPERATURE HEATER="extruder"