[gcode_macro CHANGE_FILAMENT]
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _SELF_VARIABLES"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(105)|float %}

    SAVE_GCODE_STATE NAME=CHANGE_FILAMENT_state
    PAUSE
    UNLOAD_FILAMENT TEMP={TEMP} DISTANCE={DISTANCE}
    RESTORE_GCODE_STATE NAME=CHANGE_FILAMENT_state

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _SELF_VARIABLES"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(110)|float %}

    {% set re_enable_filament_sensor = 0 %}

    SET_FILAMENT_SENSOR SENSOR="runout_sensor" ENABLE=0
    # SET_FILAMENT_SENSOR SENSOR="toolhead_sensor" ENABLE=0
    
    {% set re_enable_filament_sensor = 1 %}

    SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT_state
    _LOW_TEMP_CHECK T={TEMP}
    
    _TIP_SHAPING
    M83
    G1 E-20 F3600
    G4 P3000
    G1 E{DISTANCE|float * -1} F3000
    M400

    CLEAR_ACTIVE_SPOOL
    RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT_state

    {% if re_enable_filament_sensor %}
        SET_FILAMENT_SENSOR SENSOR="runout_sensor" ENABLE=1
        # SET_FILAMENT_SENSOR SENSOR="toolhead_sensor" ENABLE=1
    {% endif %}

[gcode_macro UNLOAD]
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _SELF_VARIABLES"].print_default_extruder_temp)|float %}
    
    {% set re_enable_filament_sensor = 0 %}
    SET_FILAMENT_SENSOR SENSOR="runout_sensor" ENABLE=0
    {% set re_enable_filament_sensor = 1 %}

    SAVE_GCODE_STATE NAME=UNLOAD_state

    _LOW_TEMP_CHECK T={TEMP}
    _TIP_FORMING
    CLEAR_ACTIVE_SPOOL

    RESTORE_GCODE_STATE NAME=UNLOAD_state

    {% if re_enable_filament_sensor %}
        SET_FILAMENT_SENSOR SENSOR="runout_sensor" ENABLE=1
    {% endif %}


[gcode_macro LOAD_FILAMENT]
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _SELF_VARIABLES"].print_default_extruder_temp)|float %}
    {% set tip_distance = printer["gcode_macro _KAMP_Settings"].tip_distance | float %}
    {% set DISTANCE = params.DISTANCE|default(80)|float %}

    SET_FILAMENT_SENSOR SENSOR="runout_sensor" ENABLE=0
    # SET_FILAMENT_SENSOR SENSOR="toolhead_sensor" ENABLE=0
    
    {% set re_enable_filament_sensor = 1 %}
    SAVE_GCODE_STATE NAME=LOAD_FILAMENT_state
    _LOW_TEMP_CHECK T={TEMP}

    M83
    G92 E0
    G1 E{DISTANCE|float} F200
    G1 E50 F150
    G1 E-{tip_distance +1} F2100

    M400
    G92 E0

    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_state
    {% if re_enable_filament_sensor %}
        SET_FILAMENT_SENSOR SENSOR="runout_sensor" ENABLE=1
        # SET_FILAMENT_SENSOR SENSOR="toolhead_sensor" ENABLE=1
    {% endif %}


[gcode_macro _TIP_SHAPING]
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _SELF_VARIABLES"].print_default_extruder_temp)|float %}
    
    SET_FILAMENT_SENSOR SENSOR="runout_sensor" ENABLE=0
    # SET_FILAMENT_SENSOR SENSOR="toolhead_sensor" ENABLE=0
    
    {% set re_enable_filament_sensor = 1 %}
    SAVE_GCODE_STATE NAME=TIP_SHAPING_state
    _LOW_TEMP_CHECK T={TEMP}

    {% set old_pressure_advance = printer.extruder.pressure_advance|default(0) %}
    SET_PRESSURE_ADVANCE ADVANCE=0

    M82
    G92 E0
    G1 E2 F3600
    G1 E0 F3600
    G1 E3 F3600
    G1 E0 F3600
    G1 E4 F3600
    G1 E0 F3600

    SET_PRESSURE_ADVANCE ADVANCE={old_pressure_advance}
    M400

    RESTORE_GCODE_STATE NAME=TIP_SHAPING_state
    SET_FILAMENT_SENSOR SENSOR="runout_sensor" ENABLE=1
    # SET_FILAMENT_SENSOR SENSOR="toolhead_sensor" ENABLE=1

[gcode_macro _TIP_FORMING]
gcode:
    {% set vars = printer['gcode_macro _FORM_TIP_VARS'] %}
    {% set ramming_volume = vars['ramming_volume']|float %}
    {% set cooling_tube_length = vars['cooling_tube_length']|float %}
    {% set cooling_tube_position = vars['cooling_tube_position']|float %}
    {% set retracted_length = printer["gcode_macro _KAMP_Settings"].tip_distance | float %}
    {% set extruder_filament_remaining = 1 | float %}
    {% set unloading_speed_start = vars['unloading_speed_start']|int %}
    {% set unloading_speed = vars['unloading_speed']|int %}
    {% set toolchange_temp = vars['toolchange_temp']|default(0)|int %}
    {% set use_skinnydip = vars['use_skinnydip']|default(false)|lower == 'true' %}
    {% set use_fast_skinnydip = vars['use_fast_skinnydip']|default(false)|lower == 'true' %}
    {% set initial_cooling_speed = vars['initial_cooling_speed']|int %}
    {% set final_cooling_speed = vars['final_cooling_speed']|int %}
    {% set cooling_moves = vars['cooling_moves']|int %}
    {% set skinnydip_distance = vars['skinnydip_distance']|float %}
    {% set dip_insertion_speed = vars['dip_insertion_speed']|int %}
    {% set dip_extraction_speed = vars['dip_extraction_speed']|int %}
    {% set melt_zone_pause = vars['melt_zone_pause']|default(0)|int %}
    {% set cooling_zone_pause = vars['cooling_zone_pause']|default(0)|int %}
    {% set orig_temp = printer.extruder.target %}
    {% set next_temp = params.NEXT_TEMP|default(orig_temp)|int %}
    {% set extruder_eject_speed = vars['extruder_eject_speed']|int %}

    SAVE_GCODE_STATE NAME=MMU_FORM_TIP_state

    G91 # Relative positioning
    M83 # Relative extrusion
    G92 E0

    # Step 1 - Ramming
    # This is very generic and unlike slicer does not incorporate moves on the wipetower
    {% if ramming_volume > 0 %} # Standalone Ramming
        {% set ratio = ramming_volume / 23.0 %}
        G1 E{0.5784 * ratio} F299 #7
        G1 E{0.5834 * ratio} F302 #3
        G1 E{0.5918 * ratio} F306 #6
        G1 E{0.6169 * ratio} F319 #6
        G1 E{0.3393 * ratio} F350 #0
        G1 E{0.3363 * ratio} F350 #0
        G1 E{0.7577 * ratio} F392 #6
        G1 E{0.8382 * ratio} F434 #3
        G1 E{0.7776 * ratio} F469 #9
        G1 E{0.1293 * ratio} F469 #9
        G1 E{0.9673 * ratio} F501 #2
        G1 E{1.0176 * ratio} F527 #2
        G1 E{0.5956 * ratio} F544 #6
        G1 E{0.4555 * ratio} F544 #6
        G1 E{1.0662 * ratio} F552 #4
    {% endif %}

    # Step 2 - Retraction / Nozzle Separation
    # This is where the tip spear shape comes from. Faster=longer/pointer/higher stringing
    {% set total_retraction_distance = cooling_tube_position - extruder_filament_remaining - retracted_length + cooling_tube_length - 15 %}
    G1 E-15 F{1.0 * unloading_speed_start * 60} # Fixed default value from SS
    {% if total_retraction_distance > 0 %}
        G1 E-{(0.7 * total_retraction_distance)|round(2)} F{1.0 * unloading_speed * 60}
        G1 E-{(0.2 * total_retraction_distance)|round(2)} F{0.5 * unloading_speed * 60}
        G1 E-{(0.1 * total_retraction_distance)|round(2)} F{0.3 * unloading_speed * 60}
    {% endif %}

    {% if toolchange_temp > 0 %}
        M104 S{toolchange_temp}
        {% if not use_fast_skinnydip %}
            _WAIT_FOR_TEMP
        {% endif %}
    {% endif %}

    # Step 3 - Cooling Moves
    # Solidifies tip shape and helps break strings if formed
    {% set speed_inc = (final_cooling_speed - initial_cooling_speed) / (2 * cooling_moves - 1) %}
    {% for move in range(cooling_moves) %}
        {% set speed = initial_cooling_speed + speed_inc * move * 2 %}
        G1 E{cooling_tube_length} F{speed * 60}
        G1 E-{cooling_tube_length} F{(speed + speed_inc) * 60}
    {% endfor %}

    {% if toolchange_temp > 0 and use_skinnydip and use_fast_skinnydip %}
        _WAIT_FOR_TEMP
    {% endif %}

    # Step 4 - Skinnydip
    # Burns off very fine hairs (Good for PLA)
    {% if use_skinnydip %}
        G1 E{skinnydip_distance} F{dip_insertion_speed * 60}
        G4 P{melt_zone_pause}
        G1 E-{skinnydip_distance} F{dip_extraction_speed * 60}
        G4 P{cooling_zone_pause}
    {% endif %}

    M104 S{next_temp}

    # Step 5 - Ejecting
    G92 E0
    G1 E-80 F{extruder_eject_speed * 60}


    RESTORE_GCODE_STATE NAME=MMU_FORM_TIP_state


[gcode_macro _WAIT_FOR_TEMP]
description: Helper function for fan assisted extruder temp reduction
gcode:
    {% set vars = printer['gcode_macro _FORM_TIP_VARS'] %}
    {% set toolchange_temp = vars['toolchange_temp']|default(0)|int %}
    {% set toolchange_fan_speed = vars['toolchange_fan_speed']|default(50)|int %}

    {% set orig_fan_speed = printer.fan.speed %}
    M106 S{(toolchange_fan_speed /100 * 255)|int}
    M109 S{toolchange_temp}
    M106 S{(orig_fan_speed * 255)|int}

[gcode_macro COLD_PULL]
description: Guide you through the process of cleaning your extruder with a cold pull
gcode:
    {% set material = params.MATERIAL|default("pla")|string|upper %}
    {% set materials = {
        'NYLON': {'hot_temp': 260, 'cold_temp': 50, 'pull_temp': 120, 'min_extrude_temp': 190},
        'PLA':   {'hot_temp': 250, 'cold_temp': 45, 'pull_temp': 100, 'min_extrude_temp': 160},
        'ABS':   {'hot_temp': 255, 'cold_temp': 50, 'pull_temp': 120, 'min_extrude_temp': 190},
        'PETG':  {'hot_temp': 250, 'cold_temp': 45, 'pull_temp': 100, 'min_extrude_temp': 180}
    } %}
    {% if material not in materials %}
        {action_raise_error("Unknown material. Valid types are: Nylon, ABS, PLA, PETG")}
    {% endif %}

    # Allow individual temperature overrides. Coded like this so Mainsail can parse options
    {% set hot_temp = params.HOT_TEMP|default('')|int %}
    {% set cold_temp = params.COLD_TEMP|default('')|int %}
    {% set pull_temp = params.PULL_TEMP|default('')|int %}
    {% set min_extrude_temp = params.MIN_EXTRUDE_TEMP|default('')|int %}
    {% set hot_temp = (hot_temp if hot_temp > 0 else materials.get(material).hot_temp)|int %}
    {% set cold_temp = (cold_temp if cold_temp > 0 else materials.get(material).cold_temp)|int %}
    {% set pull_temp = (pull_temp if pull_temp > 0 else materials.get(material).pull_temp)|int %}
    {% set min_extrude_temp = (min_extrude_temp if min_extrude_temp > 0 else materials.get(material).min_extrude_temp)|int %}

    {% set pull_speed = params.PULL_SPEED|default(10)|int %}
    {% set clean_length = params.CLEAN_LENGTH|default(25)|int %}
    {% set extrude_speed = params.EXTRUDE_SPEED|default(1.5)|float %}

    {% set ns = namespace(stuff_points=[], cool_points=[]) %}

    {% for temp in range(hot_temp + 1, cold_temp - 1, -1) %}
        {% if temp % 10 == 0 %}
            {% if temp > min_extrude_temp %}
                {% set ns.stuff_points = ns.stuff_points + [temp] %}
            {% elif temp < min_extrude_temp %}
                {% set ns.cool_points = ns.cool_points + [temp] %}
            {% endif %}
        {% endif %}
    {% endfor %}

    RESPOND PREFIX=ColdPull MSG="based on {material} profile (use MATERIAL= to adjust):"
    RESPOND PREFIX=ColdPull MSG="pull_temp={pull_temp}\u00B0C, hot_temp={hot_temp}\u00B0C, min_extruder={min_extrude_temp}\u00B0C, cold_temp={cold_temp}\u00B0C"

    RESPOND PREFIX=ColdPull MSG="Heating extruder to {hot_temp}\u00B0C..."
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={hot_temp}
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={hot_temp - 2} MAXIMUM={hot_temp + 2}

    # Ensure the nozzle id completely full
    RESPOND PREFIX=ColdPull MSG="Cleaning nozzle tip with {clean_length}mm of filament"
    _MMU_STEP_MOVE MOTOR="extruder" MOVE={clean_length} SPEED={extrude_speed} ALLOW_BYPASS=1

    # Begin the cooling ramp
    RESPOND PREFIX=ColdPull MSG="Allowing extruder to cool..."
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={cold_temp}
    M106 S255			# 100% part fan to cool faster

    # While filament can still extrude keep the nozzle completely full
    {% for temp in ns.stuff_points %}
        TEMPERATURE_WAIT SENSOR="extruder" MAXIMUM={temp}
        RESPOND PREFIX=ColdPull MSG="> Stuffing nozzle at {temp}\u00B0C"
        # G1 E1 F{ extrude_speed * 60 }
        FORCE_MOVE STEPPER=extruder DISTANCE=2 VELOCITY={extrude_speed}
    {% endfor %}

    # Give some feedback on cooling process
    RESPOND PREFIX=ColdPull MSG="Waiting for extruder to completely cool to {cold_temp}\u00B0C..."
    {% for temp in ns.cool_points %}
        TEMPERATURE_WAIT SENSOR="extruder" MAXIMUM={temp}
        RESPOND PREFIX=ColdPull MSG="> Nozzle at {temp}\u00B0C"
    {% endfor %}
    TEMPERATURE_WAIT SENSOR="extruder" MAXIMUM={cold_temp}

    # Re-warm
    M107			# Part fan off
    RESPOND PREFIX=ColdPull MSG="Re-warming extruder to {pull_temp}\u00B0C"
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={pull_temp}

    # The manual cold-pull
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={pull_temp - 10}
    RESPOND PREFIX=ColdPull MSG="Get ready to pull..."
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={pull_temp}
    RESPOND PREFIX=ColdPull MSG=">>>>> PULL NOW <<<<<"

    # Retract 150 mm at moderate speed (user should assist pull too, especially in bypass))
    FORCE_MOVE STEPPER=extruder DISTANCE=-150 VELOCITY={pull_speed}

    RESPOND PREFIX=ColdPull MSG="Cold pull is successful if you can see the shape of the nozzle at the filament end"
    RESPOND PREFIX=ColdPull MSG="If not, try again, perhaps with tweaked temperatures"

    # Heater completely off
    SET_HEATER_TEMPERATURE HEATER="extruder"