[gcode_macro PRINT_END]
gcode:
    {% set verbose = printer["gcode_macro _SELF_VARIABLES"].verbose_enable|default(false)|abs %}
    {% set tip_distance = printer["gcode_macro _KAMP_Settings"].tip_distance | float %}
    {% set light_intensity_end_print = printer["gcode_macro _SELF_VARIABLES"].light_intensity_end_print %}

    {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
    {% set park_x  = client.park_at_cancel_x|default(0.0) %}
    {% set park_y  = client.park_at_cancel_y|default(0.0) %}
    {% set park_dz = client.custom_park_dz|default(2.0)|abs %}

    {% if (printer.gcode_move.position.z + park_dz) < printer.toolhead.axis_maximum.z %}
        {% set park_z = printer.gcode_move.position.z + park_dz %}
    {% else %}
        {% set park_z = printer.gcode_move.position.z %}
    {% endif %}

    { action_respond_info("Parking on: (X {}, Y {}, Z {})".format(
        (park_x),
        (park_y),
        (park_z),
    )) }

    # Move awax from Print
    _CLIENT_RETRACT
    G0 Z{park_z} F3600
    G0 X{park_x} Y{park_y} F20000
    _CLIENT_RETRACT LENGTH={tip_distance}

    # Turn of an clean
    TURN_OFF_HEATERS
    M107
    KOMB
    M400

    BED_MESH_CLEAR

    {% if printer['fan_generic filter'].speed > 0 %}
        {% set FILTER_TIME = params.FILTER_TIME|default(600)|int %}
        START_FILTER SPEED=1
        UPDATE_DELAYED_GCODE ID=_STOP_FILTER_DELAYED DURATION={FILTER_TIME}
    {% endif %}

    RESPOND MSG="Printer goes zzZ"

    SET_FILAMENT_SENSOR SENSOR=runout_sensor ENABLE=0
    LIGHT_ON S={light_intensity_end_print}
    STATUS_LEDS COLOR="DONE_PRINTING"